extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Tran Anh Quan
        p.lead.text-light
          | Computer Science Student
        .portfolio-bio
          p
            | I'm a native to Vietnam, a beautiful country with victorious history, profound patriotism and wonderful landscapes. Exploring the beauty of Vietnam with its people and culture should be done once in one's lifetime.
            br
            br
            | I have been a student at Ho Chi Minh City University of Technology (HCMUT for short) for three years. I'm currently in my 4th year (final year). HCMUT is an amazing university although the curriculum is quite heavy. I think i'm still doing pretty good with my GPA >= 8 (/10). My Thesis Project for the final year is to create a Scientific Topic Management System for Faculty of Computer Science and Engineering. I hope i will do it well and get high mark on it!
            br
            br
            | My favourite sport is soccer. I would love to play soccer in my free time with my friends, it helps me to relieve stress after many hours of working and learning. I personally think playing soccer also helps me a lot in keeping me healthy because sitting in front of computer many hours is one of my profession characteristics, it's important for my body to pratice two or three times a week by playing soccer.
            br
            br
            | I'm still doing all my projects with my Laptop, it's cool but i hope i can build my own PC in the future and my own private working space. Not only to improve my productivity, i can also play my favourite games on my PC. That sure makes me enjoy my work and my life much more than before!
            br
            br
            | My current goal is to become a Back-End Developer. I love to use Nodejs + Expressjs to develop backend for web. But that's just a short-term goal, nothing is gonna stop me from learning new things and maybe changing my goal in the future. Maybe i can be a full-stack developer (to be honest, i kinda like to use React to develop Front-End), or i can be a System Architect, or a Technology Billionaire, ... No one taxes dreams, right?  
            br
            br
            | Thanks for taking your time reading, hope you will achieve your goal!
            br
            i (Update September 1st 2022)
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Development Skills
        ol.skills
          ul Front-End
            p HTML & CSS
            li Responsive Styling
            p JavaScript
            li Reactjs
          ul Back-End
            p Server Environment
            li Node.js + CLI
            p Frameworks
            li Express
          ul Version Control
            li GitHub
            li GitLab
        h6 Contact Info
        ul.contact
          li +84 828220609
          li trananhquan6901@gmail.com
        a.button.expanded(href='https://www.facebook.com/profile.php?id=100008503924143' target="_blank") Facebook
        a.button.expanded(href='https://github.com/pipibapi1' target="_blank") GitHub
